
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-bg: #202023;
  --color-title: #ffe59e;
  --color-text: #ffffff;
  --color-nav: #000000;
  --color-footer: #868686;
  --color-theme-switch: #ffc400;
  --color-borderBottom-article: #525252;
}

.white-theme {
  --color-bg: #ffffff;
  --color-title: #4d3902;
  --color-text: #202023;
  --color-nav:#0273a9;
  --color-footer: #0273a9;
  --color-theme-switch: #ffc400;
  --color-borderBottom-article: #fce08c;
  transition: 0.1s linear;
}


.welcome-container {
  background-image: url("../img/photo_profil.jpg");
  /* On va demander à notre image de se dimensionner de sorte à recouvrir
  du mieux possible l'intégralité de l'élément */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* On utilise ici l'unité vh pour prendre 100% de la place dispo en hauteur de la zone d'affichage */
  height: 100vh;
  width: 40%;
  /* On demande à l'image de bien se centrer */
  background-position: 30% ;
  padding: 2.5em 2em 1em;
  /* On utilise un box-sizing pour que le padding ajouté à notre élément
  ne s'ajoute PAS à la largeur déjà définie
  Il va s'adapter à l'intérieur de cette largeur sans la modifier */
  box-sizing: border-box;
}

#content-container {
  width: 60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* On choisit à nouveau 100vh (pour prendre toute la hauteur dispo)
  auxquels on retranche la taille du header */
  height: calc(100vh - 72px);
  overflow: auto;
}

body {
  transition: 0.1s linear;
  background-color: var(--color-bg);
}

main {
  display: flex;
  /* flex-direction: column; */
}


/* * Nav Bar Style  */

#nav {
  background-color: var(--color-nav);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav a {
  color: var(--color-text);
  text-decoration: none;
}

#nav #logo {
  margin-right: 10rem;
}

#nav #logo a {
  font-weight: bold;
  font-size: 22px;
}

#nav-link a {
  font-size: 22px;
  padding: 0 0.5rem;
}

#nav-link a:hover {
  border-bottom: 1px solid var(--color-text);
}

#theme-switch {
  background-color: var(--color-theme-switch);
  margin-left: 10rem;
  border-radius: 0.5rem;
  padding: 0.8rem;
  cursor: pointer;
  z-index: 1000;
}

#theme-switch img {
  display: flex;
  flex-grow: 1;
}

/* * Description */

.article-presentation {
  background-color: var(--color-theme-switch);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 0.75rem 0;
  margin: 2rem 0;
  color: rgb(255 255 255 / 92%);
}

.article-description {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.article-img {
  border-radius: .5rem;
  width: 100%;
  padding: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2rem;
}

.description {
  display: flex;
}

.description-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  align-items: flex-start;
  color: var(--color-text);
}

.description-text #description-title {
  margin-bottom: 0.2rem;
}

/* * Article Work */

/* Article Title */
.article {
  width: 70%;
  margin: 0 auto;
}

#article-work {
  display: flex;
  flex-direction: column;
}

.article-title {
  width: 8%;
  color: var(--color-title);
      }

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

#article-work--description {
  margin-top: 0.8rem;
  color: var(--color-text);
  text-indent: 20px;
}

#article-work--title {
  margin-top: 2rem;
}

.article #portfolio {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--color-theme-switch);
  border: none;
  border-radius: 0.5rem;
}
.article #portofolio-link {
  color: var(--color-bg);
  text-decoration: none;
}

#portfolio img {
  width: 10px;
}

/* Article Bio */
#article-bio--title {
  width: 5%;
}

.bio-date {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
  color: var(--color-text);
}

/* Article Hobbies */
#article-hobbies--title {
  margin-top: 0.8rem;
  width: 13%;
  margin-bottom: 0.8rem;
}

.hobbies-list {
  display: flex;
  flex-direction: row;
}

.hobbies-list img {
  width: 15px;
  margin: 0.5rem 0;
  margin-right: 0.2rem;
}

.hobbies-list span {
  color: var(--color-text);
}

/* Article Web */
#article-web{
    border-radius: 0.5rem;
  background-color: var(--color-footer);
}

#article-web--title {
  width: 120px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
  font-size: larger;
}

.web-link {
  display: flex;
  justify-content: space-evenly;
  filter: drop-shadow(1px 0px 1px #ffbb00);
}
.web-link-linkedin {
  display: flex;
  align-items: center;
}
.web-link-github {
  display: flex;
  align-items: center;
}
.web-link-gmail {
  display: flex;
  align-items: center;
}

.web-link a {
  text-decoration: none;
  color: var(--color-theme-switch);
  padding: 0.5rem;
  width: 30%;
  /* border-radius: 0.5rem; */
}

.web-link a:hover {
  /* background-color: rgb(0, 0, 0); */
  text-decoration: black underline;
  /* border-radius: 0.5rem; */
  transition: 9s ease-in-out;

}

.footerLinks img {
  width : 40px;
  drop-shadow:2px ,2px, 2px, #d2d2d2;
}
/* ------------------ WORKS */

.article_work {
  width: 50%;
  margin: 0 auto;
}

.projects {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
}

.projects {
  display: flex;
  gap: 1rem;
}


.projects-details {
  display: flex;
  flex-direction: column;
  width: 49%;
  border: var(--color-theme-switch) solid 3px;
  border-radius: 10px;
  background-color: rgb(10 10 10);
  margin-top: 10px;
}

.projects-title {
  margin: 1rem 0;
  display: flex;
  color: var(--color-theme-switch);
  font-size: 1.3rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.projects-description {
  color: var(--color-text);
  margin: 10px;
}

.project-img {
  border-radius: .5rem;
  padding: 11.6rem;
}

.odelice {
  background: url("../img/odelice.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.invader {
  background: url("../img/space-invader.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pokemon {
  background: url("../img/pokemon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.quiz {
  background: url("../img/quiz.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  border-radius: 0.5rem;
  background-color:var(--color-nav);
}

footer h4 {
  color:  var(--color-text);
}

.works-project {
  width: 100%;
  margin: auto;
}

@media (min-width: 900px) and (max-width: 1500px) {
  .article_work {
    width: 100%;
    padding: 1rem;
  }
  .projects{
    display: flex;
  }

  .projects {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 900px) and (max-width: 1000px) {
  .article-presentation{
    padding: 1.25rem 0.1rem;
  }
}

@media (min-width: 200px) and (max-width: 899px) {
  .article_work {
    width: 100%;
    padding: 1rem;
  }
  .projects {
    display: flex;
    justify-content: center;
  }

  .project-img {
    padding: 10rem
  }

  .article-presentation{
    padding: 1.25rem
  }
}

@media (min-width: 200px) and (max-width: 750px) {
  main {
    padding: 1rem;
  }

  #article-work {
    justify-content: center;
  }

  #article-work--title {
    margin: auto;
  }

  .article-description {
    width: 100%;
  }

  .article {
    width: 100%;
  }
  #nav #logo {
    margin-right: 0rem;
  }
  .projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .projects-details {
    width: 100%;
  }

  #theme-switch {
    margin-left: 2rem;
  }
}

@media (max-width: 415px) {
  .project-img {
    padding: 6.5rem
  }

  footer {
    padding: 1rem;
  }

  #nav #logo a {
    font-size: 1rem;
    margin-right: 1rem;
  }

  #theme-switch {
    padding: 0.2rem
  }

  .article-title {
    color: var(--color-text);
    display: flex;
    justify-content: center;
}

  #article-bio--title {
    width: 100%;
  }
  #article-hobbies--title {
    width: 100%;
  }

  #article-web--title {
    width: 100%;
  }

  #article-work--title {
    width: 100%;
    color: var(--color-theme-switch);
  }

  .article-presentation{
      margin-bottom: 2rem;
  }
  
  footer{
    margin-top: 0;
  }

  .article-description {
    margin-bottom: 2rem;
}

  #article-work--description {
    margin-bottom: .4rem;
  }

  #portfolio {
    margin: auto;
  }

  .description-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--color-text);
  }

  .projects-title {
    margin-top: 1rem;
  }
  .border {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid var(--color-borderBottom-article);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #strong1 {
    margin-top: 0.5rem;
  }

  #hobbies1 {
    margin-top: 0.8rem;
  }

  #nav-link  a{
    font-size: 1rem;
  }
}
