  <footer>
    <p>Contact me </p>
    <ul>
      <li class="footerLinks"><a href="https://www.linkedin.com/in/tony-poomipartes/">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="linkedin link"></a></li>
      <li class="footerLinks"><a href="https://github.com/Tony-Poomipartes?tab=overview&from=2023-02-01&to=2023-02-08">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" alt="github link"></a></li>
    </ul>
  </footer>
  </body>
</html>
