  <footer>
    <p>Contact me </p>
    <script src="./js/app.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
      <a class="footerLinks" href="https://www.linkedin.com/in/tony-poomipartes/">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="linkedin link"></a>
      <a class="footerLinks" href="https://github.com/Tony-Poomipartes?tab=overview&from=2023-02-01&to=2023-02-08">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" alt="github link"></a>

  </footer>
  </body>
</html>
