<%- include('partials/header') %>
<main>
  <div class="welcome-container">

      <article class="article-description">
      </article>
  </div>

  <div id="content-container">
      <article class="article work">
        <div id="article-work">
          <h1  class="article-presentation">Développeur web back-end</h1>
          <h2 id="article-work--title" class="article-title">Who am I</h2>
          <div class="border"></div>
          <p id="article-work--description">
            Hello everyone, I'm a tech lover, very curious about the blockchain ecosystem and all programming Languages.<br>
I've been working on the construction site as a lead electrician but after spending two years in Australia and New Zeland I realized that I needed to work with what passionate me the most, that's why I've decided to start a new chapter of my life and turning myself into web development.<br>
I've started a training course at the O'Clock school to increase my self-knowledge of programming, we learned HTML, CSS, and Javascript with a Node.js environment, PostgreSQL, MongoDB, and GraphQL in data management, Git for the versioning and Bash to know how to navigate in the terminal.<br>
During my training, I've been working in a team to build from the ground up a project of a recipe site with an API rest, it was challenging and I enjoy working in a team as a Backend developer.<br>
I'm currently learning React Redux by myself and my next plan is to start a personal side project with TypeScript, Solidity, and HardHat to learn how to develop smart contracts, Dapps, and bridges into Web3.<br>
Feel free to leave me a message, I would be happy to answer you the best I can. <br><br>

Je suis un developpeur web orienté Back-end, ancienement électricien, curieux de nature, touche à tout et surtout branché Tech qui a décidé de changer de branche pour me mettre au développement web.<br> Avec 23 ans d'expérience dans l'électricité et deux ans en Australie et en Nouvelle-Zélande, je m'envole à nouveau pour de nouvelles opportunités professionnelles.<br> Après une formation de développement web avec une spécialisation backend à O'clock depuis septembre, j'ai hâte de mettre toutes mes compétences au service d'une entreprise qui recherche un profil polyvalent.<br> Alors, si vous avez besoin de quelqu'un qui peut tout raccorder (et pas que des fils électriques), n'hésitez pas à me contacter !
          </p>
        </div>
        <button id="portfolio">
          <a href="/project" id="portofolio-link"
            >My portfolio <img src="../img/right-arrow.png" alt="portofolio link"
          /></a>
        </button>
      </article>
      <article class="article bio">
        <div id="article-bio">
          <h2 id="article-bio--title" class="article-title">Bio</h2>
          <div class="border"></div>

          <span class="bio-date">
            <strong>2022 - 2023 :</strong> Formation Développeur Full-Stack
            JavaScript spécialisation Data et API chez O'Clock</span
          >

          <span class="bio-date">
            <strong>2014 – 2023 :</strong> <i>Chef d'équipe électricien</i> 
            Management d'une équipe, suivi du projet de la conception à la livraison et communication interprofessionnelle.
          </span>
          <span class="bio-date">
            <strong id="strong1">2012 - 2014 :</strong> 
            <i>Électricien, Charpentier, Carreleur,
              Maçon, Couvreur, Paysagiste ...</i> 
            Australie, Nouvelle-zelande <br>
            Un voyage de deux ans au bout du
            monde pour perfectionner mon anglais et
            apprendre à m'adapter à toutes les
            situations.
            </span>
          <span class="bio-date">
            <strong>1998 – 2012 :</strong><i>Électricien</i>
            travaille en équipe ou en autonomie, dépannage et résolution de problèmes</span>
        </div>
      </article>
      <article class="article hobbies">
        <div id="article-hobbies">
          <h2 id="article-hobbies--title" class="article-title">Stacks</h2>
          <div class="border"></div>
          <div id="hobbies1" class="hobbies-list">
            <span>JavaScript</span>
          </div>
          <div class="hobbies-list">
            <span>Node - Express</span>
          </div>
          <div class="hobbies-list">
            <span>Database : MongoDb / PostgreSQL</span>
          </div>
          <div class="hobbies-list">
            <span>React/Redux (en cours)</span>
          </div>
          <div class="hobbies-list">
            <span>Typescript (Prochainement)</span>
          </div>
        </div>
      </article>
      

  </div>
</main>
    <%- include("partials/footer")  %> 

