
<%- include('partials/header') %>

        <main>
            <h2>Bienvenue sur le trombinoscope de l'école O'clock</h2>
            <ul>
                <li>
                    <a href="/promos">Voir la liste de promos</a>
                </li>

                    <li>
                        <a href="/login">Connexion</a>
                    </li>
              
            </ul>
        </main>

<%- include('partials/footer') %>
