<%- include('partials/header') %>
    <main>
      <article class="article-description">
        <!-- <div class="article-img"></div> -->
        <h4 class="article-presentation">Hello, if you are hiring a FullStack JavaScript Dev, I'm your guy !</h4>
        <div class="description">
          <div class="description-text">
            <h2 id="description-title">Tony-Poomipartes</h2>
            <h4 id="description-img">Full-Stack Developer JavaScript</h4>
          </div>
          <div class="description-img">
            <img src="" alt="" />
          </div>
        </div>
      </article>
      <article class="article work">
        <div id="article-work">
          <h2 id="article-work--title" class="article-title">Work</h2>
          <div class="border"></div>
          <p id="article-work--description">
            Hello, this is about a journey of a Junior Developper Javascript based in Paris. I discovered and started coding around 8 month ago in my previous company while working with the techological pole.
            I fell in love with it, and decided to quit all to learn coding. This is why I started a fullstack formation in the O'Clock School which learned me a lot in my journey.
          </p>
        </div>
        <button id="portfolio">
          <a href="/project" id="portofolio-link"
            >My portfolio <img src="../img/right-arrow.png" alt=""
          /></a>
        </button>
      </article>
      <article class="article bio">
        <div id="article-bio">
          <h2 id="article-bio--title" class="article-title">Bio</h2>
          <div class="border"></div>
          <span class="bio-date"
            ><strong id="strong1">2017 - 2020 :</strong> Licence d'Économie à l'université
            Paris Diderot</span
          >
          <span class="bio-date"
            ><strong>2017 - 2020 :</strong> Job étudiant - Directeur Adjoint
            d'un supermarché G20</span
          >
          <span class="bio-date"
            ><strong>2018 – 2023 :</strong> Chef d'équipe électricien - management d'une équipe, suivi des projets de la conception à la livraison.
            droit du CEO en alternance au sein de l'entreprise
            "Instant-Lunch"</span
          >
          <span class="bio-date"
            ><strong>2022 - 2023 :</strong> Formation Développeur Full-Stack
            JavaScript spécialisation Data et API chez O'Clock</span
          >
        </div>
      </article>
      <article class="article hobbies">
        <div id="article-hobbies">
          <h2 id="article-hobbies--title" class="article-title">Stacks</h2>
          <div class="border"></div>
          <div id="hobbies1" class="hobbies-list">
            <span>JavaScript</span>
          </div>
          <div class="hobbies-list">
            <span>Node - Express</span>
          </div>
          <div class="hobbies-list">
            <span>Database : MongoDb / PostgreSQL</span>
          </div>
          <div class="hobbies-list">
            <span>React (en cours)</span>
          </div>
        </div>
      </article>
      <article class="article web">
        <div id="article-web">
          <h2 id="article-web--title" class="article-title">On the web</h2>
          <div class="border"></div>
          <div class="web-link">
              <div class="web-link-github">
                <box-icon type='logo' name='github'></box-icon>
                <a target=_blank href="https://github.com/Neeal20?tab=repositories">@Neeal20</a>
              </div>
              <div class="web-link-linkedin">
                <box-icon name='linkedin' type='logo' ></box-icon>
                <a target=_blank href="https://www.linkedin.com/in/neal-lahiany-b1019a1b0/">@Tony-Poomipartes</a>
              </div>
              <div class="web-link-gmail">
                <box-icon name='gmail' type='logo' ></box-icon>
                <a target=_blank href="https://mail.google.com/mail/u/0/#inbox?compose=new">@nlahiany@gmail.com</a>
              </div>
          </div>
        </div>
      </article>
    </main>

    <%- include("partials/footer")  %> 

