<%- include('partials/header') %>
<main>
      <article class="article_work project-title">
        <div id="project-title">
          <h2 id="article-work--title" class="article-title">Projects</h2>
        </div>

        <div class="projects">
          <div class="projects">
            <div class="projects-details">
              <a target="_blank" href=""><div class="project-img odelice"></div></a>
              <div class="projects-content">
              <h4 class="projects-title">Odélices</h4>
              <p class="projects-description">Odélices est un site de recette fullstack. L'objectif de se projet était de voir nombreux axes front et back d'un projet.<br><br>
                Côté Front : consommation d'api en front avec le framework React, manipulation du dom et des événements><br><br>
                Côté back : création d'une api pour afficher les recettes en fronts, création d'une bdd PostgreSQL pour les utilisateurs, la création d'un utilisateur, la sécurité de celui-ci en cryptant ses données ou encore la gestion de session permettant l'affichage d'un profil et sa modification. </p>
              </div>
            </div>

            <div class="projects-details">
              <a target="_blank" href=""><div class="project-img invader"></div></a>
              <h4 class="projects-title">Space Invader</h4>
              <p class="projects-description">Space Invader est un jeu crée uniquement en front avec le simple ajout du moteur de template ejs pour la création de route et l'hébergement.<br><br>
                Le but du jeu est de crée une grille de la taille de pixel que l'on souhaite et de crée notre alien via une palette de couleurs.<br><br>L'objectif de se projet était de travailler la manipulation du DOM dans sa globalité avec la création d'élément, utilisation des boucles, écouteurs d'événements...</p>
            </div>
          </div>

            <div class="projects-details">
              <a target="_blank" href="https://squiz-game.up.railway.app/"><div class="project-img quiz"></div></a>
              <h4 class="projects-title">Squiz Game</h4>
              <p class="projects-description">Squiz game est un jeu de quizz comme son nom l'indique.<br><br>
              Login / signin en plus poussé avec l'utilisation de bcrypt et mail-validator pour la gestion et vérification des inputs.<br><br>
              On y retrouve également la création d'une session, permettant en cas d'user admin de créer et ajouter un nouveau niveau de diffuclté de quizz</p>
            </div>
          </div>

  </main>
    <%- include("partials/footer")  %> 